# macOS system files
.DS_Store

# Compiled Python files
__pycache__/

# Python environment
venv/
.env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Entire dataset
# IT1244-Project/Dataset/

models/

# Virtual Environment
it1244proj/

# zip files
zip file containing only the txt and png.zip
models.zip
